:root {
    --light: whitesmoke;
}

body { 
    padding: 50px;
}

.message {
    padding:16px;
    font-weight: 300;
    background-color: var(--message-bg-color);
    color: var(--message-color);
}

.error {
    --message-bg-color:rgb(197, 174, 174);
    --message-color:red;
}

.success {
    --message-bg-color:rgb(193, 218, 185);
    --message-color:green;
}